<!DOCTYPE html>
<html>
	<head>
		<title>BOX</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" href="/image/favicon.ico">

		<style type="text/css">
			body img
			{
				position: absolute;
				width: 250px;
				height: 250px;
				left: 50%;
				top: 50%;
				margin-left: -125px;
				margin-top: -125px;
			}
		</style>
	</head>
	<body>
		<img src="/image/404_page_not_found.png" alt="404">
	</body>
</html>